@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(252, 252, 252);
}

.prataFont {
  font-family: 'Prata', serif;
}

.secFont {
  font-family: 'Wix Madefor Display', sans-serif;
  color: black
}
